<header>
  <h1>Welcome to Your App</h1>
  <p>Discover the amazing features of our app!</p>
  <a class="cta-button" href="#">Get Started</a>
</header>
<div class="container">
  <h2>About Our App</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut fringilla
    lorem, non fringilla justo. Vivamus vehicula felis vel lectus eleifend, ac
    tristique sapien feugiat.
  </p>
  <p>
    Suspendisse nec est at velit interdum tincidunt. Aenean bibendum a quam non
    iaculis. Vivamus mattis dolor nec nunc gravida luctus.
  </p>
  <img
    class="hero-image"
    src="https://kadatalonas.lt/assets/logo-green-meta.png"
    alt="App Screenshot"
  />
</div>
